body {
    background-image: url("YouFit-Dania-Beach-11-25-24-2-926-Edit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
.logo img {
    height: 100px;
    width: 400px;
    margin-top: 0px;
    margin-left: 0px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 200px auto;
    background: white transparent;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.content {
    padding: 60px;
    flex: 1;
}
.Log{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.email{
    color: white;
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.forgot{
    color: white;
    text-decoration: none;
    font-size: 20px;
    float: right;
    margin-top: -20px;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}
.forgot:hover{
    color:rgba(94, 247, 94, 0.493);
}
.forgot:active{
    transform: scale(0.98);
}


.sign{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(94, 247, 94, 0.493);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.sign:hover{
    background: white;
    color: rgba(94, 247, 94, 0.493);
}
.sign:active{
    transform: scale(0.99);
}
.h3{
    color: white;
    float: left;
    margin-top: 20px;
    font-size: 20px;
}
.h31{
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;}
.h31:hover{
    color: rgba(94, 247, 94, 0.493);
}